@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

canvas {
  border: 1px solid black;
}

button {
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: bold;
}

.container {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: auto;
}


.info-container {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: auto;
  background-color: rgb(240, 240, 240);
  padding: 1rem;
  align-items: center;
  border-radius: 1rem;
}

.splitter {
  min-width: 1px;
  min-height: 1px;
  background-color: gray;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}

#button-removeall {
  color: white;
  background-color: rgb(250, 50, 50);
}

#button-removeall:hover {
  background-color: rgb(230, 0, 0);
}

#button-removeall:active {
  background-color: rgb(200, 0, 0);
}

#button-start {
  padding: 0.5rem 2rem;
  font-size: larger;
}

#banner-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  filter: brightness(0.7);
}

#banner-container {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

#banner-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  line-height: 1.5;
}

#banner-text a {
  color: white;
}

#banner-text a:visited {
  color: white;
}

.large-text {
  font-size: 2.5rem;
}